<launch>
  <param name="robot_description" textfile="$(find ros_example_robot)/example_robot.urdf" />
  
  <!-- LOAD bridge robot -->
  <group ns="robot">
      <rosparam command="load" file="$(find ros_example_robot)/example_robot.yaml" />
      <node name="robot" pkg="ros_serial_bridge" type="serial_bridge_node" args="/dev/ttyUSB1">
          <remap from = "/robot/joint_states" to = "/joint_states" />
      </node>
  </group>

  <group ns="robot_webcam">
	<node  pkg="usb_cam" name="robot_usb_cam" type="usb_cam_node"/>
  </group>

</launch>
